body {
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  z-index: 1000;
  width: 75%;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 30px auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  box-shadow: 1px 1px 5px rgb(170, 170, 170);
  background-color: #ffffff;
}
.header_logo {
  width: 240px;
}
.header_line_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(26, 199, 93);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: right;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header_line_button:hover {
  background-color: rgb(26, 255, 121);
}
.header_line_button---responsive {
  display: none;
}

main {
  margin: 0 auto;
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
p {
  font-size: 1rem;
  text-align: left;
}
h2 {
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: bold;
}
.title_br {
  display: none;
}



.main_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 800px;
  margin: 0 auto;
}

.top_left {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 8%;
  z-index: 500;
  height: 75%;
}

.top_sentence {
  text-align: left;
  color: rgb(39, 39, 39);
}
.top_sentence_detail1 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: underline;
}
.top_sentence_detail2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.5rem;
}
.top_sentence_detail3 {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.top_banner {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 12%;
  gap: 10px;
  width: 80%;
}
.top_banner_pct {
  width: 28%;
}

.top_right {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 850px;
  gap: 20px;
}
.top_image_column1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.top_image_column2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.top_image_column3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  padding-top: 10px;
}




.main_line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 0px auto;
  background-color: #cf0000;

}
.line_white {
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}
.line_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  height: 80px;
  padding: 0 20px;
  border-radius: 50px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.337);
  background-color: rgb(26, 199, 93);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  }
.line_button:hover {
  background-color: rgb(26, 255, 121);
}




.main_company {
  background-color: #f0f5f8;
  margin: 0 auto;
  padding: 50px 200px;
}

.company_environment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.company_environment_subtitle {
  line-height: 3rem;
}
.company_environment_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.company_environment_part {
  width: 500px;
  height: 300px;
  margin: 10px;
  padding: 10px;
}
.company_environment_picture {
  object-fit: contain;
  margin: 20px 0;
}


.company_work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  margin: 40px 30px;
  padding: 40px 30px;
}

.company_work_title{
  text-align: center;
  line-height: 4.5rem;
  margin-bottom: 30px;
}
.company_work_content {
  display: flex;
  flex-direction: row;
}
.company_work_list {
  margin: 10px 20px;
  font-weight: bold;
  line-height: 2rem;
}
.company_work_sentence {
  width: 60%;
  margin: 0 20px;
  line-height: 2rem;
}
.company_work_sentence_red {
  color: #cf0000;
  font-weight: bold;
  font-size: 1.5rem;
}
.company_work_picture {
  width: 400px;
  padding: 20px 0;
}

.main_vision {
  margin: 150px 0;
}
.vision_content {
  display: flex;
  flex-direction: row;
}
.vision_picture {
  width: 45%;
  margin-right: 80px;
}

.vision_picture_relative {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 600px;
  background-color: #cf0000;
}
.vision_picture_abusolute1 {
  position: absolute;
  top: -10%;
  right: 5%;
  z-index: 20;
  width: 380px;
  height: auto;
}
.vision_picture_abusolute2 {
  position: absolute;
  top: 45%;
  right: 40%;
  z-index: 30;
  width: 200px;
  height: auto;
}

.vision_sentence {
  width: 40%;
  padding-right: 200px;
}
.vision_sentence_detail {
  margin: 50px 0;
  line-height: 1.5rem;
}

.vision_sentence_red {
  color: #cf0000;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.5rem;
}


@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */

  h2 {
    font-size: 2.3rem;
    line-height: 3.3rem;
    font-weight: bold;
    text-align: center;
  }
  .title_br {
    display: block;
  }

  header {
    width: 90%;
  }
  .header_logo {
    width: 200px;
  }
  .header_line_button {
    display: none;
  }
  .header_line_button---responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(26, 199, 93);
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: right;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header_line_button---responsive:hover {
    background-color: rgb(26, 255, 121);
  }

  .main_top {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: static;
    width: 90%;
    height: fit-content;
  }
  .top_left {
    display: flex;
    flex-direction: column;
    position: static;
    margin: 30px 0;
    }
  .top_sentence_detail2 {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .top_sentence_detail3 {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
  .top_sentence_detail3---nonresponsive {
    display: none;
  }
  .top_banner {
    display: none;
  }
  .top_right {
    position: static;
    width: 100%;
    gap: 20px;
  }

  .line_button {
    width: 400px;
  }

  .main_company {
    padding: 30px;
  }
  .company_environment_subtitle {
    padding: 10px;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .company_environment_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }
  .company_environment_part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    height: 130px;
    margin: 0;
    padding: 0;
  }
  .company_environment_picture {
    display: flex;
    justify-content: center;
    width: 40%;
    height: ;
  }
  .company_environment_sentence {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 10px 20px;
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
  .company_work {
    padding: 20px 0;
  }
  .company_work_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  .company_work_sentence {
    width: fit-content;
  }
  .company_work_picture {
    width: 80%;
    padding: 10px;
  }


  .vision_picture {
    width: 95%;
    margin-right: 20px;
  }
  .vision_picture_relative {
    height: 350px;
  }
  .vision_picture_abusolute1 {
    position: absolute;
    top: -10%;
    right: 30px;
    z-index: 20;
    /* 以下正方形にトリミング */
    width: 300px;
    height: 300px;
    background: url(img/sec02-crop2.jpg) center center / cover;
  }

  .vision_picture_abusolute2 {
    position: absolute;
    top: 42%;
    right: 230px;
    z-index: 30;
    width: 120px;
    height: auto;
  }
  .vision_sentence_red {
    text-align: center;
  }
  .vision_content {
    display: flex;
    flex-direction: column;
  }
  .vision_sentence {
    width: 95%;
    padding: 20px;
  }
  .vision_sentence_detail {
    margin: 20px 0;
    line-height: 1.5rem;
  }


@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
}